<section class="container"><p >ABOUT US</p>
<h2>WHO AM I?</h2>
<p>Hi Im Jackson Ford On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word (and) and the Little Blind Text should turn around and return to its own, safe country.

</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">

      <div class="card-body">
        <i class="fa-regular fa-lightbulb" style="color: blue;"></i>
        <p class="card-text">Graphic Design</p>
      </div>
       <div class="card-line blue"></div>
    </div>

  </div>
  <div class="col">
    <div class="card h-100">

      <div class="card-body">
<i class="fa-solid fa-earth-americas" style="color: brown;"></i>
        <p class="card-text">Web Design.</p>
      </div>

          <div class="card-line red"></div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100">

      <div class="card-body">
       <i class="fa-solid fa-layer-group" style="color: orange;"></i>
        <p class="card-text">Software
</p>
      </div>
       <div class="card-line yellow"></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">

      <div class="card-body">
<i class="fa-solid fa-mobile-screen-button" style="color: blueviolet;"></i>
        <p class="card-text">Web Design.</p>
      </div>
        <div class="card-line purple"></div>
    </div>
  </div>

</div>
</section>
