

<!-- <nav class="col-2  navbar navbar-expand-lg bg-body-tertiary flex-column align-items-start vh-100 ">

  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class=" mx-auto collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav flex-column w-100">
           <div class="navbar-brand mb-3">
      <img src="./assets/about-BgAkqdr2.jpg" alt="Logo" class="img-fluid rounded-circle" >
    </div>

    <div class="mt-2">
        <h5 class="mb-0">Jackson Ford</h5>
        <p class="text-muted mb-0">UI/UX Designer in Philippines</p>
      </div>
           <ul>
        <li class="nav-item">
        <a class="nav-link"   routerLinkActive="" routerLink="home"  >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="exprience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="work">WORK</a>
      </li>
    </ul>
      </div>
    </div>
  </div>
</nav> -->



  <div class=" bg-light text-center d-flex flex-column align-items-center justify-content-center ">
    <img src="./assets/about-BgAkqdr2.jpg" alt="Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
    <h2 class="fw-bold">Jackson Ford</h2>
    <p class="text-primary">UI/UX Designer in Philippines</p>
    <nav class="nav flex-column">
 <a class="nav-link"   routerLinkActive="" routerLink="home"  >Home</a>
      <a class="nav-link" routerLink="about">About</a>
         <a class="nav-link" routerLink="skills">Skills</a>
       <a class="nav-link" routerLink="exprience">Experience</a>
     <a class="nav-link" routerLink="work">WORK</a>
    </nav>
  </div>

